---
type Props = {
	footer: {
		ariaLabel: string
		copyrightName: string
		rightsLabel: string
		links: { label: string; href: string }[]
	}
}

const { footer } = Astro.props
---

<footer class="relative isolate w-full overflow-hidden px-4 py-8">
	<div
		class="relative z-1 mx-auto flex h-0 flex-col items-center justify-between gap-4 text-center md:h-[15vh] md:flex-row md:gap-5 lg:h-[7vh] max-w-[1200px]"
	>
		<p class="order-1 text-large leading-[150%] md:order-0">
			©{new Date().getFullYear()} {footer.copyrightName}. {footer.rightsLabel}
		</p>

		<nav aria-label={footer.ariaLabel}>
			<ul class="flex flex-wrap justify-center gap-5 md:gap-7">
				{
					footer.links.map((link) => (
						<li>
							<a
								href={link.href}
								class="text-large leading-[150%]  transition-all duration-300 hover:bg-linear-gradient hover:bg-clip-text hover:text-transparent"
							>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
