---
import { Image } from 'astro:assets'
import Tag from './Tag.astro'

type Props = {
	title: string
	overview: string
	images: string[]
	technologies: string[]
}

const { title, overview, technologies, images } = Astro.props
---

<article class="grid items-center gap-10 lg:grid-cols-2">
	<div class="order-2 lg:order-1 max-w-[440px] flex flex-col gap-10">
		<h3 data-swiper-parallax="-100">{title}</h3>
		<p class="max-w-xl text-pretty" data-swiper-parallax="-150">
			{overview}
		</p>
		{
			technologies?.length ? (
				<ul class="flex flex-wrap gap-2" data-swiper-parallax="-200">
					{technologies.map((technology, index) => (
						<li data-swiper-parallax={-20 * (index + 1)}>
							<Tag>{technology}</Tag>
						</li>
					))}
				</ul>
			) : null
		}
	</div>
	<figure class="relative mx-auto w-[500px] h-[400px] order-1 lg:order-2">
		{
			images.map((image, index) => (
				<Image
					src={`/images/projects/${image}`}
					alt=""
					aria-hidden="true"
					class="absolute inset-0 w-[500px] h-[400px]"
					loading="lazy"
					decoding="async"
					width={500}
					height={400}
					data-swiper-parallax={-1 * (100 * index + 1)}
				/>
			))
		}
		<figcaption class="sr-only">{title}</figcaption>
	</figure>
</article>
