---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
import About from '@/sections/home/About.astro'
import Projects from '@/sections/home/Projects.astro'
import Experience from '@/sections/home/Experience.astro'
import Skills from '@/sections/home/Skills.astro'
import Contact from '@/sections/home/Contact.astro'
import Faq from '@/sections/home/Faq.astro'
import { getEntry } from 'astro:content'

const home = await getEntry('home', 'home')
const contact = await getEntry('contact', 'contact')

if (!home || !contact) {
	throw new Error('Home content entry not found.')
}
---

<Layout>
	<main id="main-content">
		<Hero content={home.data.hero} />
		<About content={home.data.about} />
		<Projects content={home.data.projects} />
		<Experience content={home.data.experience} />
		<Skills content={home.data.skills} />
		<Faq content={home.data.faq} />
		<Contact content={home.data.contact} meta={contact.data} />
	</main>
</Layout>
