---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/home/Hero.astro'
import About from '@/sections/home/About.astro'
import Projects from '@/sections/home/Projects.astro'
import Experience from '@/sections/home/Experience.astro'
import Skills from '@/sections/home/Skills.astro'
import Contact from '@/sections/home/Contact.astro'
// import Faq from '@/sections/home/Faq.astro'

import home from '@/content/home.json'
import contact from '@/content/contact.json'
---

<Layout>
	<main id="main-content">
		<Hero content={home.hero} />
		<About content={home.about} />
		<Projects content={home.projects} />
		<Experience content={home.experience} />
		<Skills content={home.skills} />
		<!-- <Faq content={home.faq} /> -->
		<Contact content={home.contact} meta={contact} />
	</main>
</Layout>
