---
import ExperienceItem from '@/shared/ExperienceItem.astro'
import { getCollection, render, type CollectionEntry } from 'astro:content'

type Props = {
	content: CollectionEntry<'site'>['data']['experience']
}

const { content } = Astro.props

const entries = await getCollection('experience')

const items = await Promise.all(
	entries
		.sort((a, b) => a.data.order - b.data.order)
		.map(async (entry) => {
			const { Content } = await render(entry)

			return {
				period: entry.data.period,
				company: entry.data.company,
				rol: entry.data.rol,
				image: entry.data.image,
				Content,
			}
		}),
)
---

<section
	id="experience"
	aria-labelledby="experience-heading"
	class="section-container py-24 sm:py-32 md:py-40"
>
	<div
		class="w-[min(1180px,92vw)] mx-auto flex flex-col items-center justify-center gap-10"
	>
		<header class="text-center">
			<h2 id="experience-heading">
				{content.title} <span>{content.accent}</span>
			</h2>
		</header>

		<ol
			class="relative pl-[clamp(72px,9vw,120px)] flex flex-col gap-10"
			aria-label={content.timelineLabel}
		>
			<li
				aria-hidden="true"
				class="absolute bg-primary left-[clamp(32px,5vw,50px)] top-3 bottom-0 w-[5px] overflow-hidden pointer-events-none"
			>
				<span
					class="absolute inset-0 bg-linear-gradient"
					style="
            -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
          "
				></span>
			</li>

			{items.map((item, index) => <ExperienceItem item={item} index={index} />)}
		</ol>
	</div>
</section>
